html, body, canvas {
  margin: 0;
  padding: 0;
  touch-action: none;
  height: 100%
}

canvas {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@viewport {  
  orientation: portrait;  
}

@media only screen and (pointer: coarse) and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}
